.brandName--home {
  color: white;
  font-size: 1rem;
}

.nameContainer--home { 
  justify-content: center;
  text-align: center;
}

.container--home {
  max-width: 100% !important;
}

.image--home, .imageContainer--home  {
  width: 100%;
}

.container--home-mobile {
  padding: 0;
  margin: 0;
  max-width: 100% !important;
}

.imageContainer--home-mobile, .image--home-mobile {
  width: 100%;
}

.brandName--home-mobile {
  color: white;
  font-size: 1.5rem;
}