$backgroundBlack: #000;
$fontColor: #FFF;
$fontFamily: 'Roboto', sans-serif;

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: $backgroundBlack;
  color: $fontColor;
  font-family: $fontFamily;
  height: 100vh;
  width: 100vw;
}

.float-image {
  cursor: pointer;
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 0 0 2em 2em;
}